
@Model Asignatura


@{
    ViewData["Title"] = "La Información de la Asignatura";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
<h2>Nombre: @Model.Nombre </h2>

<p><i>@ViewBag.CosaDinamica</i></p>
<p><i>@ViewBag.Fecha</i></p>

